.map-container
  #choose-locale-map
  .overlay.locale-selection-container.text-center
    - I18n.available_locales.each do |l|
      = link_to landing_page_path(locale: l) do
        .locale-selection
          = t('.select_this_language', locale: l)
