.fullscreen-image-slider {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000000;
  background: rgba(white, 0.8);

  .slick-container {
    width: 80vw;
    height: 80vh;
    margin-left: 10vw;
    margin-top: 10vh;
    background: black;
    border-radius: 7px;
  }

  .image-center-wrapper {
    height: 80vh;
    display: table !important;
    .image {
      display: table-cell;
      vertical-align: middle;
    }
    img {
      margin-left: auto;
      margin-right: auto;
      max-height: 80vh;
    }
  }

  .close-image-slider {
    cursor: pointer;
    position: absolute;
    z-index: 10000000;
    right: 10px;
    top: 0;
    font-size: 50px;
    color: black;
  }

  .slick-dots li button::before {
    font-size: 12px;
  }
}
