@import 'colors';

.template {
  display: none;
}

.toggle-panel {
  top: 50%;
  background: rgba(darken($lilac, 50%), 0.8);
  color: $green;
  border-radius: 0 5px 5px 0;
  padding: 10px 5px;
  font-size: 22px;
  display: none;
  cursor: pointer;
  &:hover {
    color: $lilac;
  }
}

.places-list-panel {
  overflow-y: auto;
  background-color: rgba(white, 0.9);
  width: 25%;
  min-width: 400px;
  padding: 15px;

  .images {
    img {
      cursor: pointer;
      margin-top: 5px;
    }
  }

  .fa-home {
    font-size: 17px;
  }

  .glyphicon {
    cursor: pointer;
  }

  .panel-heading {
    padding: 7px 14px;
    border: none !important;
    cursor: pointer;
    background-color: rgba(darken($verylightgrey, 10%), 0.9) !important;

    &:hover {
      background-color: lighten($lilac, 5) !important;
    }

    .panel-title {
      font-size: 15px !important;
    }

    .name {
      color: rgba(0, 0, 0, 0.7);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    a {
      text-decoration: none;
    }
  }

  .place_type {
    padding-right: 10px;
  }

  .list-item-category {
    color: white;
    margin-top: -6px;
    margin-left: -12px;
    border-radius: 3px;
    margin-right: 10px !important;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 28px;
    height: 28px;
    text-align: center;
  }

  .panel-body {
    padding: 7px 14px;
    font-size: 12px;

    .item-panel {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 3px 8px;
      margin-top: 2px;
      border-radius: 4px;
    }

    .event-panel {
      background-color: lighten($green, 20%);
      .glyphicon {
        padding-right: 5px;
        color: darken($green, 30%);
      }
    }

    .place-panel {
      background-color: lighten($lilac, 20%);
      .glyphicon {
        padding-right: 5px;
        color: darken($lilac, 30%);
      }
    }

    .event {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 3px 8px;
      margin-top: 2px;
      background-color: lighten($grey, 40%);
      border-radius: 4px;
      .glyphicon {
        padding-right: 5px;
        color: darken($grey, 20%);
      }
    }

    .description {
      padding: 15px;
      margin-top: 2px;
      margin-bottom: 5px;
      background-color: lighten($grey, 50%);
      border: 1px solid lighten($grey, 30%);
      border-radius: 4px;
    }

    .slick-slider {
      margin-bottom: 5px;
    }
  }

  @media (max-width: 600px) {
    width: calc(100% - 30px);
    min-width: 0;
  }

  .bottom-icons {
    float: right;
    margin-top: 10px;
    .edit-place {
      padding-left: 10px;
    }
    .zoom-to-place {
      padding-right: 9px;
      font-size: 16px;
      top: -2px;
    }
  }
  .category-names {
    margin-top: 10px;
    float: left;
    color: $grey;
    font-style: italic;
    width: 70%;
  }

  .places-list-accordion-container {
    background: rgba(white, 0.5);
  }

  .button-container {
    .sidepanel-add-place-container {
      display: none;
    }
    button {
      font-size: 16px;
      cursor: pointer;
      width: 100%;
      margin-bottom: 10px !important;
    }
  }

  .collapsing {
    -webkit-transition: none;
    transition: none;
  }
}
