.overlay.filter-field
  .row.search-field
    .col-xs-12
      .search-input
        %input#search-input.category-input.form-control{'autocomplete' => 'off', placeholder: (t('static_pages.map.search_placeholder'))}
        .empty-text-filter.input-icon.glyphicon.glyphicon-remove-sign

  .row.filter-date-row
    .col-xs-12.search-field
      %input#search-date-input.form-control

.overlay.places-list-panel
  .button-container.text-center
    .sidepanel-button-container.sidepanel-add-place-container
      %h4.slidepanel-title= t('.how_to_add_place')
      %button.type-in-address.btn.btn-dark
        = t('.type_in_address')
      %button.add_place_via_click.btn.btn-dark
        = t('.click_on_map')
      %button.add-place-via-location.btn.btn-dark
        = t('.add_via_location')
      %button.btn.btn-default.cancel-place-addition
        = t('cancel')
  .places-list-accordion-container
    #accordion.places-list-accordion.panel-group{'aria-multiselectable' => 'true', role: 'tablist'}

.panel.panel-default.places-list-item.template
  .panel-heading.collapsed{'aria-expanded' => 'false', 'data-parent' => '#accordion', 'data-toggle' => 'collapse', role: 'button'}
    %h4.panel-title
      .glyphicon.list-item-category.pull-left
      %a.toggle-place-details
        .name
  .panel-collapse.collapse{role: 'tabpanel'}
    .panel-body
      .description
      .images
      .contact-container
      .event-container
      .category-names
      .bottom-icons
        .glyphicon.fa.fa-search-plus.zoom-to-place
        - if can_contribute?
          .glyphicon.fa.fa-pencil.edit-place.pull-right
        - if has_privileged_map_access?
          .glyphicon.fa.fa-trash.delete-place.pull-right
