.footer.navbar-fixed-bottom
  .container
    .pull-left
      %i
        powered by
      = link_to 'ratMap', 'https://coderat.cc/projects/ratmap', style: 'font-size: large; font-weight: bold;'
    .pull-right
      %span.app_imprint_toggle{style: 'cursor: pointer;'}= t('.app_imprint')
      = ' | '
      %span.app_privacy_policy_toggle{style: 'cursor: pointer;'}= t('.app_privacy_policy')
