/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require leaflet
 *= require MarkerCluster
 *= require dataTables/jquery.dataTables
 *= require dataTables/extras/dataTables.responsive
 *= require fixedHeader.dataTables.min
 *= require bootstrap-wysihtml5
 *= require awesomplete
 *= require daterangepicker
 *= require leaflet.draw
 *= require Control.Geocoder
 *= require spectrum
 *= require leaflet.extra-markers.min
 *= require slick
 *= require slick-theme
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'colors';
@import 'font-awesome';

noscript {
  width: 100%;
  height: 100%;
  background: lightgrey;
  text-align: center;
  padding-top: 100px;
  font-size: 30px;
  z-index: 10000000;
  position: absolute;
}

.container-full {
  width: 100%;
}

.container {
  padding-bottom: 70px;
}

.alert-container {
  padding-bottom: 0;
}

.navbar-container {
  padding-bottom: 0px;
}

.header-img {
  margin-top: -58px;
  margin-bottom: 25px;
  padding-top: 45px;
  width: 100%;
  height: 160px;
  background: url(image_path('header'));
  h1 {
    color: black;
    text-shadow:
     -2px -2px 0 white,
      2px -2px 0 white,
     -2px  2px 0 white,
      2px  2px 0 white;
    background-size: 100% 100%;
    text-align: center;
  }
}

.modal {
  .modal-body {
    padding: 25px;
  }
}

.margin-above {
  margin-top: 20px;
}

.margin-below {
  margin-bottom: 20px;
}

.margin-right {
  margin-right: 10px;
}

.navbar-logo {
  @media (max-width: 425px) {
    font-size: 20px;
  }
  @media (min-width: 426px) {
    font-size: 30px;
  }
  font-weight: bold;
  letter-spacing: -1px;
  float: center;
  &:hover {
    text-decoration: none;
  }
  * {
    float: left;
  }
}

.navbar-logo-lilac {
  color: $lilac;
}

.navbar-logo-green {
  color: $green;
}

.toggle-login {
  line-height: 40px;
  padding-left: 20px;
  font-size: large;
  a {
    color: $lilac;
    font-weight: bolder;
  }
}

.navbar  {
  min-height: 40px;
  background: rgba(darken($lilac, 50%),0.8);
  border: none;
  .glyphicon {
    line-height: 40px;
    font-size: 20px;
  }
  .navbar-toggle {
    margin: 7px;
    border-color: $green;
    padding: 6px;
  }
  .icon-bar {
    background: $green;
  }
}

@media only screen and (min-width : 768px) {
  .navbar-nav {
    float: right !important;
  }
}

.navbar-dropdown {
  .dropdown-header {
    color: rgba($green, 0.6);
    font-size: 14px;
    margin-bottom: 5px;
  }
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: rgba($green, 0.6);
  }
  line-height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  a {
    color: $green !important;
  }
  .dropdown-toggle {
    display: inline;
    background: none !important;
    color: $green;
    &:hover {
      color: $lilac !important;
    };
    .caret {
      margin-left: -15px;
    }
  }
  .dropdown-menu {
    top: 50px;
    background: rgba(darken($lilac, 50%),0.8);
    color: $green;
    .active > a {
      color: white !important;
      background: $green !important;
    }
    a:hover {
      background: inherit;
      color: $lilac !important;
    };
  }
}

.navbar-button {
  margin-left: 10px;
  margin-right: 10px;
  a:hover {
    text-decoration: none;
    color: $lilac;
  }
}

// FOOTER
.footer {
  background-color: rgba(darken($lilac, 50%),0.8);
  height: 40px;

  .container {
    line-height: 40px;
    vertical-align: middle;
    color: $green;
    a {
      color: $green
    }

    a:hover {
      text-decoration: none;
    }

    &:hover {
      color: $green;
    }
  }
}

// BUTTONS
.full-width {
  width: 100%;
}

.btn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-success {
  background: $green !important;
  border: none;
}

.btn-danger {
  background: $lilac !important;
  border: none;
}

.btn-dark {
  color: $green !important;
  background: rgba(black, 0.7) !important;
  &:hover {
    background: rgba(black, 0.6) !important;
  };
  &.active {
    background: rgba(black, 0.55) !important;
  }
 height: 37px;
}

// Review table style

.edited-point {
  background-color: lighten(rgb(223, 155, 99), 25);
}

.new-point {
  background-color: lighten(rgb(124, 223, 99), 25);
}

// Pagination
.previous_page.disabled {
  color: $grey;
}

// remove tooltip arrow gap in chromium
.tooltip-arrow {
  border-width: 0px 5px 6px !important;
}

.awesomplete  {
  width: 100%;
  mark {
    background-color: none;
    padding: 0;
  }
}

a {
  color: $lilac;
}

// EXPLANATIONS
.explanation {
  font-size: 18px;
  padding: 3px;
  cursor: pointer;
}

#explanation-modal {
  font-size: 18px;
  color: $green;
}

// HELPERS
.spacer-row {
	padding-top: 20px;
}

input[type="checkbox"] {
  position: relative;
  width: 18px;
}

img {
  max-width: 100%;
}

.slick-prev::before, .slick-next::before {
  color: black;
}
