.tab-pane.active#base_settings
  -# Secret link
  .row
    .spacer-row
    .col-md-12
      %fieldset{class: "#{'has-error' if f.object.errors.include?(:secret_token)}"}
        .row
          .col-xs-12
            = f.label :secret_token, t('.secret_link')
          .col-xs-12
            .input-group
              %span.input-group-addon#addon_secret= request.base_url
              = f.text_field :secret_token, value: @map.secret_token || SecureRandom.urlsafe_base64(24), class: 'form-control', placeholder: t('.secret_token'), aria: { describedby: '#addon_secret'}

  -# Password field
  .row
    .spacer-row
    .col-xs-12
      = f.label :password
    .col-xs-12
      .input-group.password_input
        %span.input-group-addon.password-checkbox
          = hidden_field_tag 'map[password_protect]', nil
          = check_box_tag 'map[password_protect]', true, @map.password_protected? ? true : false
        = f.password_field :password, class: 'form-control', aria: { describedby: '#addon_secret'}, disabled: @map.password_protected? ? false : true, placeholder: @map.password_protected? ? raw('&bull;&bull;&bull;&bull;&bull;') : ''
        = f.password_field :password_confirmation, class: 'form-control password-confirmation', aria: { describedby: '#addon_secret'}, disabled: @map.password_protected? ? false : true, placeholder: @map.password_protected? ? raw('&bull;&bull;&bull;&bull;&bull;') : ''

  .row
    -# Title
    .spacer-row
    .col-md-12
      %fieldset.input-group.row{class: "#{'has-error' if f.object.errors.include?(:maintainer_email_address)}"}
        .col-xs-12
          = f.label :title, t('.title')
          = f.text_field :title, placeholder: t('.title_placeholder'), class: 'form-control'

      -# Description
      .spacer-row
      %fieldset.input-group.row
        .col-xs-12
          .description-editor
            = f.label :description, t('.description')
            = f.text_area :description, class: "wysihtml5 description-area"

        .spacer-row
        .col-xs-12
          .checkbox
            %label
              = check_box_tag 'map[show_map_description_on_visit]', true, @map.show_map_description_on_visit
            = t('.show_map_description_on_visit')
        .col-xs-12.col-sm-4
          = f.label :max_images_per_place
          = f.number_field :max_images_per_place, min: @map.min_images_per_place_restriction, class: 'form-control'
