= form_for(@place, url: @url, remote: true, authenticity_token: true, html: { multipart: true, place_id: @place.id }) do |f|
  .row
    .col-xs-12
      - if @place.unreviewed_version
        .red currently under review

    -# ADDRESS
    .col-xs-12
      %h4.header-row= t('.address_data')

      %fieldset{class: "form-group row #{'has-error' if f.object.errors.include?(:name)}"}
        .col-xs-12
          = f.label :name, t('.place_name') + '*'
          = f.text_field :name, class: 'form-control', disabled: @place.unreviewed_version

      %fieldset{class: "form-group row #{'has-error' if f.object.errors.include?(:street)}"}
        .col-xs-8
          = f.label :street, t('.street') + '*'
          = f.text_field :street, class: 'form-control', value: @geocoded ? @geocoded[:street] : @place.street, disabled: @place.unreviewed_version
        .col-xs-4
          = f.label :house_number, 'Nr'
          = f.text_field :house_number, class: 'form-control', value: @geocoded ? @geocoded[:house_number] : @place.house_number, disabled: @place.unreviewed_version

      %fieldset{class: "form-group row #{'has-error' if f.object.errors.include?(:postal_code) || f.object.errors.include?(:city)}"}
        .col-xs-5
          = f.label :postal_code, t('.postal_code') + '*'
          = f.text_field :postal_code, class: 'form-control', value: @geocoded ? @geocoded[:postal_code] : @place.postal_code, disabled: @place.unreviewed_version
        .col-xs-7
          = f.label :city, t('.city')
          = f.text_field :city, class: 'form-control', value: @geocoded ? @geocoded[:city] : @place.city, disabled: @place.unreviewed_version


      -# CONTACT
      %h4.header-row.contact-information-header
        .toggle-switch
          = t('.contact_data')
          %span.glyphicon.glyphicon-triangle-bottom{style: 'font-size: 16px;'}

      .contact-information
        %fieldset{class: "form-group row #{'has-error' if f.object.errors.include?(:phone) || f.object.errors.include?(:email) || f.object.errors.include?(:homepage)}"}
          .col-sm-4
            = f.label :phone, t('.phone')
            = f.text_field :phone, class: 'form-control', disabled: @place.unreviewed_version
          .col-sm-4
            = f.label :email, t('.email')
            = f.text_field :email, class: 'form-control', disabled: @place.unreviewed_version
          .col-sm-4
            = f.label :homepage, t('.homepage')
            = f.text_field :homepage, class: 'form-control', disabled: @place.unreviewed_version

  -# DATE INFORMATION
  .row
    .col-xs-12
      %h4.header-row.date-information-header
        .toggle-switch
          = t('.date_information')
          %span.glyphicon.glyphicon-triangle-bottom{style: 'font-size: 16px;'}
      .date-information
        .row{id: 'place_event_toggle'}
          .col-xs-1
            = f.radio_button :event, false, disabled: @place.unreviewed_version, id: 'is_place', checked: !@place.event || true
          .col-xs-11
            = f.label :event, t('.is_place')
          .col-xs-1
            = f.radio_button :event, true, disabled: @place.unreviewed_version, id: 'is_event', checked: @place.event || false
          .col-xs-11
            = f.label :event, t('.is_event')

        .input-group.form_group.col-xs-12#place_date_form
          = f.text_field :start_date, class: 'form-control daterange', disabled: @place ? !@place.event? : true
          %span#end_date_toggle.input-group-addon
            %input#set_end_date{type: 'checkbox', checked: @place.end_date.present? }
          %span#end_date_descr.input-group-addon= t('.set_end_date')

  -# TAGS
  .row
    .col-xs-12
      -# TODO Clarify behavior for non-reviewed POIs
      %h4.header-row= t('.place_categories')
      .categories
        = f.hidden_field :categories_string, data: {categories: @place.categories.map(&:name).sort}

  -# DESCRIPTIONS
  .row
    .col-xs-12
      %h4.header-row= t('.place_descriptions')
    - @place.map.supported_languages.in_groups_of(2, false).each_with_index do |group|
      - group.each do |lang|
        - locale != lang ? hidden = 'hidden-description' : hidden = ''
        - column = "description_#{lang}"
        - translation = @place.translations.find_by(locale: lang)
        .col-xs-12
          .description-header{id: "description-header-#{lang}"}
            %h4= t(column)
            %span.glyphicon{style: 'font-size: 14px;', class: "glyphicon-triangle-#{locale != lang ? 'top' : 'bottom'}"}
          .description-editor{dir: "#{'rtl' if lang == 'ar'}", class: (hidden if @place.map.supported_languages.length > 1)}
            - if translation && translation.versions.length > 1
              %br
              .red= t('currently_under_review')
              = f.text_area column.to_sym, class: "description-area locked-description", disabled: true
            - else
              = f.text_area column.to_sym, class: "wysihtml5 description-area #{column}"

  -# IMAGES
  - if @place.map.max_images_per_place > 0 || @place.images.count > 0
    .row
      .col-xs-12
        %h4.header-row= t('.images')
        = f.fields_for :place_attachments do |p|
          .image-row.margin-below
            = p.file_field :image
            - if p.object.image_url
              .pull-right.destroy-image{style: 'color: red; cursor: pointer;'}= t('.delete-image')
              = image_tag p.object.image_url
              = p.check_box '_destroy', {class: 'destroy-checkbox', style: 'display: none;'}, true, false

  -# CAPTCHA
  .row.captcha-row
    .col-md-6
      = display_captcha unless @current_user.signed_in?

  -# BUTTONS
  .row.button-row
    .col-xs-6.col-sm-4.col-md-3
      = f.hidden_field :latitude, value: params[:latitude]
      = f.hidden_field :longitude, value: params[:longitude]
      - if @geocoded
        = f.hidden_field :district, value: @place.district || @geocoded[:district]
        = f.hidden_field :federal_state, value: @place.federal_state || @geocoded[:federal_state]
        = f.hidden_field :country, value: @place.country || @geocoded[:country]
      = f.submit class: 'btn btn-primary btn-success place-form-button submit-place-button'
    .col-xs-6.col-sm-4.col-md-3
      = link_to t('buttons.cancel'), '', data: { dismiss: 'modal' }, class: 'btn btn-primary btn-danger place-form-button'

:javascript
  window.is_event = #{@place.event};
  window.start_date = '#{@place.start_date || Date.today}';
  window.end_date = '#{@place.end_date || Date.tomorrow}';
  window.with_end_date = #{@place.end_date.present?}
