!!!
%html
  %head
    %title= @map.present? ? @map.title : Admin::Setting.app_title
    = favicon_link_tag 'favicon'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    -# = include_page_specific_javascript
    = csrf_meta_tags
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
  %body
    = render 'layouts/navbar/navbar'
    .container-full.main-container
      .starter-template
        - unless on_map?
          .header-img
            %h1= yield :header
        = render 'layouts/shared/flash_messages'
        = yield

    = render 'layouts/footer/footer'

    / Matomo Image Tracker
    %img{:alt => "", :referrerpolicy => "no-referrer-when-downgrade", :src => "https://coderat.matomo.cloud/matomo.php?idsite=8&rec=1", :style => "border:0"}
    / End Matomo

= render partial: 'layouts/shared/modals'
